.wrapper
{
    padding-bottom: 30px;
    
}
body {
    font-family: 'Open Sans', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
.divider {
	position: relative;
    margin-top: 40px;
    height: 1px;
   
}

.div-transparent:before
{
	content: "";
	position: absolute;
	top: 0;
	left: 5%;
	right: 5%;
	width: 90%;
	height: 1px;
    background-image: linear-gradient(to right, transparent, rgb(48,49,51), transparent);
}
.centrado {
    margin: 0 auto;
    width: 80%;
    border: 8px solid blue;
}
.barra {
    padding-bottom: 15%;
    list-style-type: none;
    margin-right: 7%;

}
.menu {
    width: 25%;
    float: left;
    list-style-type: none;
    display: inline;
    background-color: blue;
}
.enlaceboton {
    text-decoration: none;
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
}
.data {
    color: #029300;
    padding-left: 1%;
    text-transform: uppercase;
    
}
.divider {
    margin-top: 40px;
    height: 1px;
    position: relative;
}
.borde {
    border-left: 4px solid blue;
    padding-left: 1%;
    margin-left: 1%;
}
.texto {
    padding-left: 1%;
}
.segundotit {
    padding-left: 1%;
}
