body {
    margin: 0;
    background-color: orange;
}
.contenedor {
    flex-direction: row;
    justify-content: center;
    display: flex;
    background-color: grey;
    height: 20%;
    padding-top: 2%;
}
nav div {
    margin-left: 5%;
    color: white;
    transition: 0.5s;
}
nav div p {
    text-align: center;
}
nav div:hover{
    color: black;
    transition: 0.1s;
}
i {
    text-align: center;
}