@font-face {
    font-family: minecraft;
    src: url('../fuentes/Minecrafter.Alt.ttf');
}
body {
    margin: 0;
    height: 100%;
    font-family: minecraft;
}
.imagen {
    background: url('../img/xp.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
}
.principal h1{
    margin-top: 0;
}
.principal {
    position: absolute;
    top: 35%;
    text-align: center;

}
.color1 {
    background-color: salmon;
}
.color2 {
    background-color: wheat;
}
div p{
    margin: 0;
}
.flex_div {
    display: flex;
}
.padding {
    padding: 1%;
    text-align: center;
}
.espacio {
    flex-basis: 500px;
}
.subtitulo {
    
}
.piedra {
    background: url('../img/piedra.png');
}
.diamante {
    background: url('../img/diamante.png');
}
.lava {
    background: url('../img/lava.png');
}
.tierra {
    background: url('../img/tierra.jpg');
}
.boton {
    background-color: aqua;
    border: 2px solid black;
    width: 7%;
    text-align: center;
    padding: 5px;
    border-radius: 5%;
    margin: auto;
    margin-top: 2%;
}