body {
    background-color: #bdc3c7;
}
h1 {
    color: #9b59b6;
}
h2 {
    color: orange;
}
li {
    color: #33fffc;
}
p {
    background-color: yellow;
}
input {
    border-color: red;
    border-radius: 3px;
}
.hello {
    background-color: white;
}
#special {
    border: #339fff 5px solid;
    border-color: #339fff;
}
div p {
    font-size: 25px;
}
input[type=text] {
    background-color: gray;
}
.tercero {
    background-color: pink;
}
.bordes {
    border: white 5px solid;
}
.em {
    color: white;
    font-size: 20px;
}
/*****************************/
/************BONUS************/
/*****************************/
:checked {
    margin-left: 50px;
}
label {
    text-transform: uppercase;
}
#special::first-letter {
    font-size: 100px;
}
h1:hover {
    color: blue;
}
a:visited {
    color: gray;
}
